// these two needs to be first for others to work properly
@require "misc/mixins.styl"
@require "misc/variables.styl"
@require "misc/typography.styl"
@require "code-highlighing/solarized-dark"

// regular inclues
@require "../template/components/**/*"

*
  box-sizing border-box

body
  background $background_body
  color $text_primary
  margin 0
  padding 0

ul, li
  margin 0
  padding 0

#content
  display flex
  flex-flow column
  align-items stretch

::selection
  accent-block()
