body
  font-family "Roboto", Helvetica, Arial, sans-serif
  font-size 16px
  line-height 28px

p
  margin 0

a, a:visited
  color $accent

.markdown-content
  h1, h2, h3, h4, h5, h6
    &, & a, & a:visited
      font-weight 400
      color $text_primary
      text-decoration none

  h1
    margin 32px 0 12px 0
    line-height 32px
    font-size 32px

  h2
    margin 28px 0 12px 0
    line-height 28px
    font-size 28px

  h3
    margin 18px 0 12px 0
    line-height 18px
    font-size 18px

  h4
    margin 14px 0 6px 0
    line-height 14px
    font-size 14px
    font-weight 600

  h5
    margin 12px 0 6px 0
    line-height 12px
    font-size 12px
    font-weight 600

  h6
    margin 12px 0 6px 0
    line-height 12px
    font-size 12px
    font-weight 600
    text-decoration underline

  p
    margin 0
  p+p
    margin-top 22px

  ul li
    padding 0 10px
    border-left 4px solid $background_primary
    list-style none
    margin 5px 0

  ol
    counter-reset item
    list-style none
    padding 0
    margin 0
    li
      padding-bottom 1em
      counter-increment item

      &:before
        margin-right 10px
        content counter(item)
        background $background_primary
        border-radius 100%
        color #fff
        width 28px
        text-align center
        display inline-block
        float left

  p > code // inline code, we also have pre code
    padding 0.2rem .5rem
    color $text_primary
    background-color $background_primary - rgba(0,0,0,.8)
    text-shadow: 0 0 0.2rem $text_primary_light
    font-size .85rem
    line-height 1rem
    font-family Monaco, 'MonacoRegular', 'Consolas', monospace

  pre
    font-size .85rem
    line-height 1.2rem
    font-family Monaco, 'MonacoRegular', 'Consolas', monospace

  blockquote
    background $background_body
    border-left 10px solid $accent
    margin 1.5em 10px
    padding 2em 10px
    line-height 2em

    &:before
      color #ccc
      content open-quote
      font-size 4em
      line-height 0.1em
      margin-right 0.25em
      vertical-align -0.4em

    &:after
      color #ccc
      content close-quote
      font-size 4em
      line-height 0.1em
      margin-left 0.25em
      vertical-align -0.4em

    & > p
      display inline
