html
  font-size 10px

body
  font-family "Open Sans", BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif
  font-size 1.6rem
  line-height 2.8rem

p
  margin 2.2rem 0

a, a:visited
  color $accent

h1, h2, h3, h4, h5, h6
  &, & a, & a:visited
    color $text_primary
    text-decoration none

h1
  padding-bottom .3rem
  font-size 3.2rem
  line-height 3.8rem

h2
  padding-bottom .3rem
  font-size 2.8rem
  line-height 1.225

h3
  font-size 2.4rem
  line-height 3.4rem

h4
  font-size 2rem

h5, h6
  font-size 1.6rem

.markdown-content
  h1, h2
    border-bottom 1px solid $border_default

  ul li
    padding 0 1rem
    border-left 4px solid $background_primary
    list-style none
    margin .5rem 0

  ol
    counter-reset item
    list-style none
    padding 0
    margin 0
    li
      padding-bottom 1em
      counter-increment item

      &:before
        margin-right 1rem
        content counter(item)
        background $background_primary
        border-radius 100%
        color #fff
        width 2.8rem
        text-align center
        display inline-block
        float left

  p > code // inline code, we also have pre code
    padding 0.2rem .5rem
    color $text_primary
    background-color $background_primary - rgba(0,0,0,.8)
    text-shadow 0 0 0.2rem $text_primary_light
    font-size 1.4rem
    line-height 1rem
    font-family Monaco, 'MonacoRegular', 'Consolas', monospace

  pre
    font-size 1.4rem
    line-height 1.8rem
    font-family Monaco, 'MonacoRegular', 'Consolas', monospace

  blockquote
    background $background_body
    border-left 1rem solid $accent
    margin 2.4rem 1rem
    padding 3.2rem 1rem
    line-height 3.2rem

    &:before
      color #ccc
      content open-quote
      font-size 4em
      line-height 0.1em
      margin-right 0.25em
      vertical-align -0.4em

    &:after
      color #ccc
      content close-quote
      font-size 4em
      line-height 0.1em
      margin-left 0.25em
      vertical-align -0.4em

    & > p
      display inline
