$background_body = #FAFAFA
$background_default = #FFFFFF
$background_primary = #2196F3
$background_secondary = #1976D2

$border_default = rgba(0,0,0,.10)

$accent = #FF9800

$opacity_primary = .75
$opacity_secondary = .54
$opacity_disabled = .38

$text_default_light = rgba(255,255,255,1)
$text_default_dark = rgba(0,0,0,1)

$text_primary = rgba(0,0,0,$opacity_primary)
$text_primary_light = rgba(255,255,255,$opacity_primary)

$text_secondary = rgba(0,0,0,$opacity_secondary)
$text_secondary_light = rgba(255,255,255,$opacity_secondary)

$text_disabled = rgba(0,0,0,$opacity_disabled)

$sizeS = .5rem
$sizeM = 1rem
$sizeL = 1.5rem
$sizeXL =  2rem

$defaultFont = "Open Sans", BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif
$defaultFontSize = 1.6rem
$defaultLineHeight = 2.8rem
