.about
  margin 10px 0
  text-align center

.about__image
  max-width 140px

.about__name,
.about__mini-bio
  font-size 24px
  font-weight 300
  color $text_primary
  margin 0
  line-height: 1.1em

.about__mini-bio
  line-height: 1em;
  font-size 14px
  font-weight 300
  color $text_secondary
