.card
  border-radius 2px
  background-color $background_default
  color $text_primary
  shadow-1()
.card__contents, .card__actions
  padding 8px 16px
.card__actions
  border-top: 1px solid $border_default
  display flex
  justify-content space-between
  align-items center


.round-img
  border 4px solid rgba(255, 255, 255, 0.16)
  shadow-2()
  width 100%
  border-radius 999px

.introduction-card__image
  max-width 28rem
  margin-top -16rem
.introduction-card__about_container
  text-align center

.introduction-card__mini-bio
  font-size 1.8rem
  font-weight 300
  margin-top 0

.introduction-card__name
  margin-bottom 0

.introduction-card__bio
  text-align center
  padding $sizeL
  color: $text_secondary
