.main-container
  width: 100%
  max-width 100rem
  display flex
  justify-content center
  align-self center
  margin 0 auto

.main-container__main-content
  flex-grow 1
  max-width 74rem

.main-container__main-content--full
  max-width none

.main-container__items
  margin $sizeS
  +gt-sm()
    margin $sizeXL

.main-container__sidebar
  width 25%
  flex-grow 0
  flex-shrink 0
